.unlist1{
    background-color: rgba(127, 126, 126, 0.54);
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 650px;
}

li a{
    font-family: serif;
    display: block;
    background-color: rgba(72, 72, 72, 0.54);
    padding: 20px 25px;
    font-size: 15px;
    border-bottom: 1px solid rgb(116, 116, 116);
    word-spacing: 7px;
}

li a:link{
    color: rgb(243, 241, 255);
    text-decoration: none;
}
li a:visited {
    color: rgb(240, 240, 240);
    text-decoration: none;
}
li a:hover:not(.active){
    text-decoration: none;
    background-color: rgb(53, 171, 53);
    color: black;
    
}
li a:active {
    background-color: rgb(53, 171, 53);
    color: rgb(0, 0, 0);
    text-decoration: underline;
}