        *{
            margin: 0;
            padding: 0;
         }
        .wrapper{
            width: 100%;
            min-height: 810px;
        }
        .header{
            width: 97.7%;
            min-height: 100px;
            padding-left: 2em;
            display: inline;
        }
        .a{
            font-family: serif;
            width: 1000px;
            display: inline;
            position: absolute;
            top: 30px;
            left: 1em;
            font-size: 35px ;
            text-align: center;
        }
        .detail{
            background-image: url('https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/og-macbook-pro-202301?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1670261864358');
            height: 50vh;
            background-repeat: no-repeat;
            border-top: 1pt solid black;
            border-bottom: 1pt solid black;
            width: 1440px;
            min-height: 650px;
            position: relative;
            display: block;
            background-size: cover;
        }
        .right{
            width: 20%;
            min-height: 650px;
            float: left;
        }
        .left{
            width: 80%;
            min-height: 650px;
            float: left;
        }   
                .about-me{
                    position: relative;
                    font-family: serif;
                    text-align: center;
                    font-size: 50px;
                    color: aliceblue;
                    display: block;
                    top: 25px;
                }
                .info-me{
                    text-indent: 2em;
                    font-family:'Times New Roman', Times, serif;
                    background-color: rgba(76, 76, 76, 0.683);
                    display: block;
                    width: 700px;
                    font-size: 18px;
                    color: rgb(227, 227, 227);
                    position: relative;
                    text-align: justify;
                    top: 3em;
                    left: 12em;
                    letter-spacing: 1.5px;
                    line-height: 1.8;
                    border-radius: 10px;
                    box-shadow: inset 10px 12px 15px rgb(40, 40, 40);
                    word-spacing: 5px;
                    padding: 20px;
                    outline: none;
                }
                .contact{
                    font-family:'Times New Roman', Times, serif;
                    background-color: rgba(76, 76, 76, 0.683);
                    display: block;
                    width: 700px;
                    font-size: 18px;
                    color: rgb(227, 227, 227);
                    position: relative;
                    text-align: center;
                    top: 3em;
                    left: 12em;
                    letter-spacing: 1.5px;
                    line-height: 1.8;
                    border-radius: 10px;
                    box-shadow: inset 10px 12px 15px rgb(40, 40, 40);
                    word-spacing: 5px;
                    padding: 20px;
                    outline: none;
                }
                .education{
                    font-family:'Times New Roman', Times, serif;
                    background-color: rgba(76, 76, 76, 0.683);
                    display: block;
                    width: 700px;
                    font-size: 18px;
                    color: rgb(227, 227, 227);
                    position: relative;
                    text-align: left;
                    top: 3em;
                    left: 12em;
                    letter-spacing: 1.5px;
                    line-height: 1.8;
                    border-radius: 10px;
                    box-shadow: inset 10px 12px 15px rgb(40, 40, 40);
                    word-spacing: 5px;
                    padding: 40px 40px;
                    outline: none;
                }
                .my-pic{
                    position: relative;
                    display: inline;
                    top: 3em;
                    left: 12em;
                    width: 250px;
                    border: 2px solid rgb(149, 149, 149);
                    border-radius: 8em;
                }
                .me{
                    font-family: 'Times New Roman', Times, serif;
                    display: inline;
                    position: relative;
                    color: rgb(255, 255, 255);
                    font-size: 50px;
                    width: 100px;
                    left: 5em;
                    top: -2em;
                }
                .me1{
                    font-family: 'Times New Roman', Times, serif;
                    display: inline;
                    position: relative;
                    color: rgb(211, 209, 209);
                    font-size: 18px;
                    left: -3em;
                    top: -2em;
                }

        .footer{
            background-color:rgb(64, 63, 63) ;
            width: 1440px;
            min-height: 70px;
        }

        span.b{
            font-family: serif;
            font-size: 95%;
            color: rgb(167, 165, 165);
            position: relative;  
            left: 35px;
        }
        
        a:link{
            color: rgb(243, 241, 255);
            text-decoration: none;
        }
        a:visited {
            color: rgb(167, 165, 165);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        a:active {
            color: rgb(255, 0, 0);
            text-decoration: underline;
        }